<div>
    <div class="head" >
       <h1>Bus Ticket booking Management System</h1> 
    </div>
    <div class="body">
        <div class="div1">
            <div class="box">
                <tr><td >Name</td><td><input type="text" /></td></tr>
                <tr><td >From</td><td><input type="text"></td></tr>
                <tr><td >To</td><td><input type="text"></td></tr>
                <tr><td >Number of Ticket</td><td><input type="number" min="1" max="5"></td></tr>
                <tr><td >Date</td><td><input type="date"></td></tr>
                <tr><td >Time</td><td><input type="time"></td></tr>
            </div><br>
            <div class="b"> <button>SAVE</button><button>update</button><button>cancel</button></div><br>
            <div class="b"><button>inset</button><button>Details</button></div>
           
        </div>
        
        <div  class="div2"> 
        <h2>Ticket Status </h2><hr>
        <div class="box2">
           welcome <br>
           you ticket <br>
           booked Successfuly
           
        </div>
        </div>
    </div>
</div>
<!-- 
<div>
    <input type="text" [(ngModel)]="num">
    <br>
    welconme {{num}}
    </div> -->
